/advinha_mais.html
/ano_copa.html
/carbono.html
/caso1.html
/estrelas.html
/futebol.html
/html.html
/Idade.html
/imc.html
/jogo.html
/jogo_advinha.html
/login.html
/me.html
/mediaAritmetica.html
/media_eventos.html
/media_idades_familiash.html
/mostra_idade.html
/nan.html
/o.html
/pares.html
/primeiro_teste.html
/programa.html
/puloLinha.html
/receitas.html
/return.html
/return.html.html
/tabuada.html
/test.html
/texto_puro.html
/top.html